body{
    margin: 0 auto;
    text-align: center;
    background-color: rgb(250, 255, 255);
    font-family: 'Roboto', sans-serif;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    font-size: larger;
}
li{
    display:inline;
}
a{
    text-decoration: none;
}
.social-icon{
    width: 35px;
    height: 35px;
    padding: 8px;
    color:rgb(89, 111, 211)
}
.todo{
    color:rgb(89, 111, 211);
}
.form{
    background-color: white;
    width: 100vw;
    margin:30px auto;
    padding: 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    max-width: 50%;
}
.submit-button{
    background-color: rgb(89, 111, 211);
    color:white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px rgb(89, 111, 211);
    width: 200px;
    height: 40px;
    margin-right: 50px;
    text-align:center; 
    vertical-align:middle;
    padding: 6px;
    font-size: large;
}
.submit-button:hover{
    background-color: rgb(140, 154, 216);
}
h2{
    font-weight:normal;
    font-size: 25px;
}
.error{
    color:rgba(255, 0, 0, 0.587);
    font-size: 13px;
    text-align: justify;
    margin-left: 50px;
}
.task-input{
    color:rgb(207, 207, 207);
    background-color: rgb(234, 240, 252);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid rgb(147, 143, 143);
    width: 100%;
    margin-left: 50px;
    padding: 6px;
    font-size: large;
}
.form-task-input{
    display:flex;
}
h3{
    font-weight: normal;
    font-size:20px;
}
.task{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}
.trash-btn{
    padding:10px;
    border:none;
    background-color: white;
    color: red;
}
.edit-btn{
    color: green;
    padding:10px;
}
h4{
    font-weight:normal;
    text-decoration: line-through;
    font-size: 20px;
}
.fa-circle-check{
    color:green;
}
.done-task{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 40px;
}
.done-task:last-child{
    justify-content: flex-end;
}
.form-filled:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 2px 6px 16px;
}
.done-task-check{
    display: inline-flex;  
    flex-wrap: wrap;
    align-items: center;
}
.error-edit{
    color:rgba(255, 0, 0, 0.587);
    font-size: 15px;
    text-align: center;
    margin-left: 40px;
}
.back-btn{
    color:white;
    background-color: black;
    width: 250px;
    height: 50px;
    margin: 50px;
    border-radius: 6px;
    font-size: 20px;
}
.back-btn:hover{
    background-color: grey;
    border-color: grey;
}

    
    
